{% load static %}


<footer class="footer-32892 pb-0">
    <div class="site-section">
      <div class="container">

        <div class="row">

          <div class="col-md pr-md-5 mb-4 mb-md-0">
            <h3><img class="img-fluid logo-white" src="{% static 'img/Banner-white.webp' %}" alt="logo"></h3>
            <ul class="list-unstyled quick-info mb-4">
              <li><div class="d-flex  align-items-center"><div><i class="fa-solid fa-location-pin icon"></i></div> <div class="mx-4">Jl. Proklamasi No.123</div></div></li>
              <li><div class="d-flex  align-items-center"><div><i class="fa-solid fa-phone icon"></i></div> <div class="mx-4">+62 088888888888</div></div></li>
              <li><div class="d-flex  align-items-center"><div><i class="fa-solid fa-envelope icon"></i></div> <div class="mx-4">motiongames@gmail.com</div></div></li>
              <br>
            </ul>

          </div>
          <div class="col-md mb-4 mb-md-0">
            <h3>Legal</h3>
            <ul class="list-unstyled quick-info mb-4">
              <li><a href="{% url 'privacy_policy' %}">Privacy policy</a></li>
              <li><a href="{% url 'term_of_services' %}">Term of services</a> </li>
              <li><a href="{% url 'legal_information' %}">Legal information</a></li>
            </ul>
          </div>


          <div class="col-md-3 mb-4 mb-md-0">
            <h3>Sosial media</h3>
            <ul class="list-unstyled quick-info mb-4">
              <li><a href="http://facebook.com" class="d-flex align-items-center"><i class="fa-brands fa-facebook icon"></i><div class="mx-4">Facebook</div></a></li>
              <li><a href="http://twitter.com" class="d-flex align-items-center"><i class="fa-brands fa-twitter icon"></i><div class="mx-4">Twitter</div></a></li>
              <li><a href="http://youtube.com" class="d-flex align-items-center"><i class="fa-brands fa-youtube icon"></i><div class="mx-4">Youtube</div></a></li>
              <li><a href="http://github.com" class="d-flex align-items-center"><i class="fa-brands fa-github icon"></i><div class="mx-4">Github</div></a></li>
            </ul>
          </div>
          
          
        </div>
      </div>
    </div>
  </footer> 